body, h1, h2, ul, li, p, form {
    margin: 0;
    padding: 0;
}


body {
    background-color: #7b0986;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
lab{
    margin-top: -50px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}


ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #857a7a;
}

li {
    float: left;
    width: 20%;
    box-sizing: border-box;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #b8b8b8;
}

hr {
    border: none;
    border-top: 8px solid #878787;
    margin: 20px 0;
}


form {
    text-align: center;
}

.form-group {
    display: inline-block;
    width: 200px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

.signup input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 10px;
}


.sign-out-button button:hover {
    background-color: #878787;
}


p {
    padding: 10px;
    text-align: justify;
}


iframe {
    display: block;
    margin: 0 auto;
    margin-top: -150px;
    margin-right: 70px;
}


button {
    background-color: #878787;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


input[type="submit"] {
    width: auto;
    background-color: #878787;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #b8b8b8;

}

b{
    display: inline-block;
    width: 150px;
    height: 30px;
    padding: 0%;
    border: 5px solid gray;
    margin: 0px;
    margin-bottom: -20px;
}

.rounded-border {
    border: 10px solid #898080;
    border-radius: 10px;
    padding: 10px;
    width: 13cm;
}
img {
    width: 325px;
    margin-right: 20px;
}

.input[type="file"],
input[type="submit"] {
    margin-right: 10px;
    margin-top: 100px;
}

.sign-out-button {
    position: fixed;
    bottom: 0;
    left: 15px;
    margin: 20px;
}



scroll-container {
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent line breaks */
    width: 300px; /* Adjust the width as needed */
}

/* Optional: Style for the form */
#uploadForm {
    padding: 10px; /* Add padding for better appearance */
}










#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#gallery img {
    width: 200px; /* Adjust the width of the images as needed */
    margin: 10px; /* Add margin between images */
}
